<div class="container-fluid mt-3">
    <div class="row mx-5 my-5">
        <div class="col-12 border-custom bg-peach">
            <div class="row bg-royal">
                <div class="col-6">
                    <input class="col-12 m-2 p-1" name="post-title" type="text" id="title" value="{{post.title}}"/>
                </div>
            </div>
            <div class="row bg-peach">
                <div class="col-12">
                    <textarea class="col-10 m-2 p-1" rows="10" id="text">{{post.text}}</textarea>
                </div>
            </div>
            <button type="submit" class="btn bg-royal text-peach mb-3 mx-2" id="save-post">Save Post</button>
            <button type="submit" class="btn bg-royal text-peach mb-3 mx-2" id="delete-post">Delete Post</button>
        </div>
    </div>  
</div>
<script src="/javascript/save-post.js"></script>