<div class="container-fluid mt-3">
    <div class="row mx-5 my-5 justify-content-center">
        <div class="col-6 border-custom">
            <div class="row bg-royal">
                <div class="col">
                    <h3 class="text-peach text-center"> Log In</h3>
                </div>
            </div>
            <div class="row bg-peach">
                <div class="col">
                    <form class="login-form">
                        <div class="mb-3">
                            <label for="user-email" class="form-label text-royal">Email address</label>
                            <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="user-password" class="form-label text-royal">Password</label>
                            <input type="password" class="form-control" id="password-login">
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn bg-royal text-peach mb-3 mb-3">Login</button>
                        </div>
                        <div class="col-12 text-center mb-2">
                            <a href="/signup" class="text-royal">Dont have an account? Click here to sign up.</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  
</div>
<script src="/javascript/login.js"