<div class="container-fluid mt-3">
    <div class="row mx-5 my-5 justify-content-center">
        <div class="col-6 border-custom">
            <div class="row bg-royal">
                <div class="col">
                    <h3 class="text-peach text-center"> Sign Up</h3>
                </div>
            </div>
            <div class="row bg-peach">
                <div class="col">
                    <form class="signup-form">
                        <div class="mb-3">
                            <label for="username" class="form-label text-royal">Username</label>
                            <input type="text" class="form-control" id="username" aria-describedby="emailHelp">
                        </div>
                        <div class="mb-3">
                            <label for="user-email" class="form-label text-royal">Email address</label>
                            <input type="email" class="form-control" id="email" aria-describedby="emailHelp">

                        </div>
                        <div class="mb-3">
                            <label for="user-password" class="form-label text-royal">Password</label>
                            <input type="password" class="form-control" id="password">
                            <div id="passwordHelpBlock" class="form-text text-royal">
                            Your password must be atleast 4 characters long
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button type="submit" class="btn bg-royal text-peach mb-3 mb-3">SignUp</button>
                        </div>
                        </form>
                </div>
            </div>
        </div>
    </div>  
</div>
<script src="/javascript/signup.js"></script>